In [1]:
import matplotlib

import matplotlib.font_manager as fm

font_location = '/usr/share/fonts/truetype/nanum/NanumGothic.ttf'

font_name = fm.FontProperties(fname = font_location).get_name()

matplotlib.rc('font',family = font_name)

In [13]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [50]:
# 데이터 불러오기
dt_A=pd.read_csv("dt_A.csv")
dt_B=pd.read_csv("dt_B.csv")
dt_C=pd.read_csv("dt_C.csv")
dt_D=pd.read_csv("dt_D.csv")
dt_A.head()

,공급일자,회원번호,조합원상태,물품대분류,물품중분류,물품소분류,물품명,구매수량,구매금액,구매매장,반품_원거래일자,구매시각,월,요일
0,2018-01-02,220954944,정상회원,반찬,두부/유부,두부,두부(1모:420g),1.0,3829,매장A,NaN,10:32,1,화
1,2018-01-02,89023040,정상회원,채소,열매채소,단호박/손질,단호박(깍뚝썰기/300g),1.0,4977,매장A,NaN,10:41,1,화
2,2018-01-02,354941440,정상회원,축산물,알,유정란,유정란/매장용(10알/국내산),1.0,7083,매장A,NaN,11:00,1,화
3,2018-01-02,786634048,탈퇴,반찬,어묵/묵,묵,도토리묵(420g:1모),1.0,7083,매장A,NaN,11:28,1,화
4,2018-01-02,438543104,정상회원,축산물,알,유정란,유정란/매장용(10알/국내산),1.0,7083,매장A,NaN,11:59,1,화

In [51]:
# 데이터 머징
dtA_merge=pd.merge(dt_A, mfile, on='회원번호', how='left')
dtB_merge=pd.merge(dt_B, mfile, on='회원번호', how='left')
dtC_merge=pd.merge(dt_C, mfile, on='회원번호', how='left')
dtD_merge=pd.merge(dt_D, mfile, on='회원번호', how='left')

In [18]:
dt_A['연']=dt_A.공급일자.str.split('-').str[0]
dt_A['월']=dt_A.공급일자.str.split('-').str[1]
dt_A['일']=dt_A.공급일자.str.split('-').str[2]
dt_A.head()

,공급일자,회원번호,조합원상태,물품대분류,물품중분류,물품소분류,물품명,구매수량,구매금액,구매매장,반품_원거래일자,구매시각,월,요일,연,일
0,2018-01-02,220954944,정상회원,반찬,두부/유부,두부,두부(1모:420g),1.0,3829,매장A,NaN,10:32,01,화,2018,02
1,2018-01-02,89023040,정상회원,채소,열매채소,단호박/손질,단호박(깍뚝썰기/300g),1.0,4977,매장A,NaN,10:41,01,화,2018,02
2,2018-01-02,354941440,정상회원,축산물,알,유정란,유정란/매장용(10알/국내산),1.0,7083,매장A,NaN,11:00,01,화,2018,02
3,2018-01-02,786634048,탈퇴,반찬,어묵/묵,묵,도토리묵(420g:1모),1.0,7083,매장A,NaN,11:28,01,화,2018,02
4,2018-01-02,438543104,정상회원,축산물,알,유정란,유정란/매장용(10알/국내산),1.0,7083,매장A,NaN,11:59,01,화,2018,02

In [20]:
dt_A['월별매출']=dt_A.groupby("월")["구매금액"].agg("sum")
dt_A.head()

,공급일자,회원번호,조합원상태,물품대분류,물품중분류,물품소분류,물품명,구매수량,구매금액,구매매장,반품_원거래일자,구매시각,월,요일,연,일,월별매출
0,2018-01-02,220954944,정상회원,반찬,두부/유부,두부,두부(1모:420g),1.0,3829,매장A,NaN,10:32,01,화,2018,02,NaN
1,2018-01-02,89023040,정상회원,채소,열매채소,단호박/손질,단호박(깍뚝썰기/300g),1.0,4977,매장A,NaN,10:41,01,화,2018,02,NaN
2,2018-01-02,354941440,정상회원,축산물,알,유정란,유정란/매장용(10알/국내산),1.0,7083,매장A,NaN,11:00,01,화,2018,02,NaN
3,2018-01-02,786634048,탈퇴,반찬,어묵/묵,묵,도토리묵(420g:1모),1.0,7083,매장A,NaN,11:28,01,화,2018,02,NaN
4,2018-01-02,438543104,정상회원,축산물,알,유정란,유정란/매장용(10알/국내산),1.0,7083,매장A,NaN,11:59,01,화,2018,02,NaN

# 지점 A의 등급별 T-TEST

In [23]:
mfile=pd.read_csv("mfile.csv")
mfile.head()

         회원번호 조합원상태        주소 성별    연령 배송서비스신청여부 모바일알람여부 Gold_member    연령대
0  1000012800  정상회원  수지구-풍덕천동  여  58.0       미신청       .      normal    50대
1  1000103744  정상회원   처인구-고림동  여  34.0       미신청       .      normal    30대
2  1000122304  정상회원     광주-기타  여  38.0       미신청       .      normal    30대
3  1000163136  정상회원   수지구-동천동  여  73.0       미신청       .      normal  60대이상
4  1000281920  정상회원  수지구-풍덕천동  여  42.0        신청       .      normal    40대

In [25]:
dt_A.drop('조합원상태', inplace=True, axis=1)

In [26]:
dtA_merge=pd.merge(dt_A, mfile, on='회원번호', how='left')
dtA_merge.head()

,공급일자,회원번호,물품대분류,물품중분류,물품소분류,물품명,구매수량,구매금액,구매매장,반품_원거래일자,...,월,요일,조합원상태,주소,성별,연령,배송서비스신청여부,모바일알람여부,Gold_member,연령대
0,2018-01-02,220954944,반찬,두부/유부,두부,두부(1모:420g),1.0,3829,매장A,NaN,...,1,화,정상회원,수지구-동천동,남,51.0,미신청,수신,normal,50대
1,2018-01-02,89023040,채소,열매채소,단호박/손질,단호박(깍뚝썰기/300g),1.0,4977,매장A,NaN,...,1,화,정상회원,분당구-구미동,여,48.0,신청,.,normal,40대
2,2018-01-02,354941440,축산물,알,유정란,유정란/매장용(10알/국내산),1.0,7083,매장A,NaN,...,1,화,정상회원,수지구-동천동,여,50.0,미신청,.,normal,50대
3,2018-01-02,786634048,반찬,어묵/묵,묵,도토리묵(420g:1모),1.0,7083,매장A,NaN,...,1,화,탈퇴,수지구-동천동,여,38.0,미신청,.,normal,30대
4,2018-01-02,438543104,축산물,알,유정란,유정란/매장용(10알/국내산),1.0,7083,매장A,NaN,...,1,화,정상회원,분당구-판교동,여,50.0,미신청,.,normal,50대

In [34]:
dtA_merge['normal구매금액']=dtA_merge[dtA_merge["Gold_member"]=='normal']["구매금액"].sum()
dtA_merge.head()

,공급일자,회원번호,물품대분류,물품중분류,물품소분류,물품명,구매수량,구매금액,구매매장,반품_원거래일자,...,요일,조합원상태,주소,성별,연령,배송서비스신청여부,모바일알람여부,Gold_member,연령대,normal구매금액
0,2018-01-02,220954944,반찬,두부/유부,두부,두부(1모:420g),1.0,3829,매장A,NaN,...,화,정상회원,수지구-동천동,남,51.0,미신청,수신,normal,50대,531377717
1,2018-01-02,89023040,채소,열매채소,단호박/손질,단호박(깍뚝썰기/300g),1.0,4977,매장A,NaN,...,화,정상회원,분당구-구미동,여,48.0,신청,.,normal,40대,531377717
2,2018-01-02,354941440,축산물,알,유정란,유정란/매장용(10알/국내산),1.0,7083,매장A,NaN,...,화,정상회원,수지구-동천동,여,50.0,미신청,.,normal,50대,531377717
3,2018-01-02,786634048,반찬,어묵/묵,묵,도토리묵(420g:1모),1.0,7083,매장A,NaN,...,화,탈퇴,수지구-동천동,여,38.0,미신청,.,normal,30대,531377717
4,2018-01-02,438543104,축산물,알,유정란,유정란/매장용(10알/국내산),1.0,7083,매장A,NaN,...,화,정상회원,분당구-판교동,여,50.0,미신청,.,normal,50대,531377717

In [35]:
dtA_merge['VIP구매금액']=dtA_merge[dtA_merge["Gold_member"]=='VIP']["구매금액"].sum()

dtA_merge.head()

,공급일자,회원번호,물품대분류,물품중분류,물품소분류,물품명,구매수량,구매금액,구매매장,반품_원거래일자,...,조합원상태,주소,성별,연령,배송서비스신청여부,모바일알람여부,Gold_member,연령대,normal구매금액,VIP구매금액
0,2018-01-02,220954944,반찬,두부/유부,두부,두부(1모:420g),1.0,3829,매장A,NaN,...,정상회원,수지구-동천동,남,51.0,미신청,수신,normal,50대,531377717,51952991
1,2018-01-02,89023040,채소,열매채소,단호박/손질,단호박(깍뚝썰기/300g),1.0,4977,매장A,NaN,...,정상회원,분당구-구미동,여,48.0,신청,.,normal,40대,531377717,51952991
2,2018-01-02,354941440,축산물,알,유정란,유정란/매장용(10알/국내산),1.0,7083,매장A,NaN,...,정상회원,수지구-동천동,여,50.0,미신청,.,normal,50대,531377717,51952991
3,2018-01-02,786634048,반찬,어묵/묵,묵,도토리묵(420g:1모),1.0,7083,매장A,NaN,...,탈퇴,수지구-동천동,여,38.0,미신청,.,normal,30대,531377717,51952991
4,2018-01-02,438543104,축산물,알,유정란,유정란/매장용(10알/국내산),1.0,7083,매장A,NaN,...,정상회원,분당구-판교동,여,50.0,미신청,.,normal,50대,531377717,51952991

In [82]:
# A 지점 vip 회원 수
AofVIP=len(set(dtA_merge[dtA_merge['Gold_member'] == 'VIP']['회원번호']))
len(set(dtA_merge[dtA_merge.Gold_member == 'VIP']['회원번호']))
AofAll=len(set(dtA_merge))
print(AofVIP/AofAll)

2.4545454545454546

In [83]:
# B 지점 VIP 회원수
BofVIP=len(set(dtB_merge[dtB_merge['Gold_member'] == 'VIP']['회원번호']))
BofAll=len(set(dtB_merge))
print(BofVIP/BofAll)

2.6818181818181817

In [84]:
# C 지점 VIP 회원수
CofVIP=len(set(dtC_merge[dtC_merge['Gold_member'] == 'VIP']['회원번호']))
CofAll=len(set(dtB_merge))
print(CofVIP/CofAll)

7.5

In [85]:
# D 지점 VIP 회원수
DofVIP=len(set(dtD_merge[dtD_merge['Gold_member'] == 'VIP']['회원번호']))
DofAll=len(set(dtD_merge))
print(DofVIP/DofAll)

2.727272727272727

In [74]:
# A 지점 VIP 회원이 매출에 차지하는 비중
AVIP_sales=dtA_merge[dtA_merge['Gold_member']=='VIP']['구매금액'].sum()
A_sales=dtA_merge['구매금액'].sum()
print(AVIP_sales/A_sales)

0.08902963985435199

In [75]:
# B 지점 VIP 회원이 매출에 차지하는 비중
BVIP_sales=dtB_merge[dtB_merge['Gold_member']=='VIP']['구매금액'].sum()
B_sales=dtB_merge['구매금액'].sum()
print(BVIP_sales/B_sales)

0.10209530996683114

In [76]:
# C 지점 VIP 회원이 매출에 차지하는 비중
CVIP_sales=dtC_merge[dtC_merge['Gold_member']=='VIP']['구매금액'].sum()
C_sales=dtC_merge['구매금액'].sum()
print(CVIP_sales/C_sales)

0.2054240301520079

In [77]:
# D 지점 VIP 회원이 매출에 차지하는 비중
DVIP_sales=dtD_merge[dtD_merge['Gold_member']=='VIP']['구매금액'].sum()
D_sales=dtD_merge['구매금액'].sum()
print(DVIP_sales/D_sales)

0.13877943890955077

In [89]:
# A 지점 VIP 성별 비중
A_df = dtA_merge[dtA_merge['Gold_member'] == "VIP"]
A_df = A_df.drop_duplicates(['회원번호'])
A_df.groupby(['성별'])['회원번호'].count()

성별
남     4
여    50
Name: 회원번호, dtype: int64

In [90]:
# B 지점 VIP 성별 비중
B_df = dtB_merge[dtB_merge['Gold_member'] == "VIP"]
B_df = B_df.drop_duplicates(['회원번호'])
B_df.groupby(['성별'])['회원번호'].count()

성별
남     4
여    55
Name: 회원번호, dtype: int64

In [91]:
# C 지점 VIP 성별 비중
C_df = dtC_merge[dtC_merge['Gold_member'] == "VIP"]
C_df = C_df.drop_duplicates(['회원번호'])
C_df.groupby(['성별'])['회원번호'].count()

성별
남      9
여    156
Name: 회원번호, dtype: int64

In [92]:
# D 지점 VIP 성별 비중
D_df = dtD_merge[dtD_merge['Gold_member'] == "VIP"]
D_df = D_df.drop_duplicates(['회원번호'])
D_df.groupby(['성별'])['회원번호'].count()

성별
남     1
여    59
Name: 회원번호, dtype: int64